.search-area {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search-area input {
    flex: 1;
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #2a2a2a;
    color: white;
    font-size: 1rem;
}

.search-area button {
    padding: 12px 20px;
    background: #4FC3F7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    transition: 0.2s;
}

.search-area button:hover {
    background: #29B6F6;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
    max-width: 450px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    color: #4FC3F7;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.preco {
    font-size: 1.2rem;
    font-weight: bold;
    color: #81D4FA;
}

.erro {
    color: #FF5252;
    font-weight: bold;
}
